/*

INSTALL
run "npm install" within ../ directory

TASKS

grunt watch            : Compile and watch scss & js directories

grunt build-production : Concatenate and minify files for production release

*/
/* Base */
/*
 * Variables
 */
/* Typography */
/* Colors */
/* Accent Grays */
/* Dimensions */
/* Sreen Dimensions */
/* Z-indexes */
/* Variables for Bootstrap Select */
/*
 * Mixins
 */
/*
 * Border Radius  
 */
/*
 * Box Shadow
 */
/* List Scrum Total */
.groupbylist-scrum-total,
.groupbylist-consumed-total {
  display: inline-block;
  padding-left: 1em;
  color: #006580;
  font-size: 16px;
  font-weight: bold;
}

.groupbylist-consumed-total {
  opacity: 0.5;
}

.trellisto-pop-over {
  display: none;
}
.trellisto-pop-over.trellisto-shown {
  display: block;
  background: #fff;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.trellisto-pop-over-list {
  margin: 0 10px;
}

.trellisto-in-list {
  position: absolute;
  visibility: hidden;
}

.trellisto-settings {
  margin: 2px 0;
}

.trellisto-settings__label {
  position: relative;
  width: 100%;
  padding: 6px 8px 6px 28px;
  color: #8C8C8C;
  line-height: 22px;
}
.trellisto-settings__label__icon {
  left: 7px;
  position: absolute;
  top: 6px;
}

.trellisto-settings__button,
.trellisto-settings__text-button {
  background: none;
  box-shadow: none;
  letter-spacing: 0.02em;
  padding: 7px 10px;
  margin: 0;
  color: #8C8C8C;
}
.trellisto-settings__button:hover,
.trellisto-settings__text-button:hover {
  color: #4D4D4D;
}

.trellisto-settings__button {
  background-color: #D6DADC;
  font-weight: 600;
}

.trellisto-settings__text-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  text-decoration: underline;
}
.trellisto-settings__text-button:hover, .trellisto-settings__text-button:focus {
  background: none;
  background-color: transparent;
}
.trellisto-settings__text-button[disabled], .trellisto-settings__text-button[disabled]:hover {
  color: #8C8C8C;
  text-decoration: none;
}
.trellisto-settings__text-button--saved[disabled] .icon-check {
  color: #61BD4F;
}

.trellisto-settings__label a {
  color: #8C8C8C;
}

.trellisto-settings__vert-bar {
  color: #D6DADC;
}

.trellisto-settings__version {
  display: block;
}


.member-cards-options {
  flex-flow: row wrap;
}
.trellisto-inprogress-message {
  width: 100%;
  background-color: #E2E4E6;
  padding: 15px 30px;
  text-align: left;
  margin: 0 auto 15px;
}

#filter-list-menu,
#trellisto-pop-over-filter {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .trellisto-settings__version {
    display: inline;
    float: right;
  }
}
